.wrapper {
  background: #041327;
  width: 100%;
  height: 100%;
}
svg {
  overflow: inherit;
}

.mover {
  animation: mover 4s infinite;
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.head {
  transform-origin: 20% 80%;
  animation: head 4s infinite;
  transition: all linear;
}

@keyframes head {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-2px, -12px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

#perna_esquerda {
  transform-origin: top left;
  transform-origin: 0% 20%;
  animation: perna_esquerda 4s infinite;
  transition: all linear;
}

@keyframes perna_esquerda {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-9px, 31px) rotate(-2deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

#perna_direita {
  transform-origin: 10% 0%;
  animation: perna_direita 4s infinite;
  animation-delay: 0.07s;
  transition: all linear;
  transform: translate(-1px, 0px) rotate(0deg);
}

@keyframes perna_direita {
  0% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  50% {
    // transform: translate(-13px, 42px) rotate(-2.2deg);
    transform: translate(-13px, 42px) rotate(-2.3deg);
    transform: translate(-19px, 38px) rotate(-2.1deg);
    transform: translate(-15px, 38px) rotate(-2.3deg);
    transform: translate(-27px, 56px) rotate(-4deg);
  }
  100% {
    transform: translate(-1x, 0px) rotate(0deg);
  }
}

@keyframes tagClose {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.notebook g {
  animation: notebook 4s infinite;
  transition: all linear;
}

@keyframes notebook {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.notebook-light g {
  animation: notebook-light 4s infinite;
  transition: all linear;
}

@keyframes notebook-light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}