.fade__navbar {
    position: absolute;
    left: 0;
    transition: all 0.8s ease-in-out;
    z-index: 9998;

    @media (max-width: 1325px) {
       transition-duration: .2s;
        left: 0;
        bottom: 0;
    }
    
    &--out {
        left: -30%;

        @media (max-width: 1325px) {
            left: 0;
            bottom: 100%;
       
        }
    }
}

.fade__content {
    position: absolute;
    bottom: 0%;   
    transition:  0.7s ease-in-out;
    right: 0%;
    width: 80vw;
    height: 85vh;
    z-index: 9997;

    @media (max-width: 1325px) {
        width: 100vw;
    }

    @media (max-width: 500px) {
        height: 82vh;
    }

    &--out {
        bottom: -100%;
    }
}

