.navbar {
    position: absolute;
    left: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    text-align: center;
    background-color: #FFFFFF;
    animation: 1.2s ease forwards contentToRight;
    // -webkit-transition: all 1.3s ease;
    // transition: all 1s ease;
    z-index: 1;

    @media (max-width: 1325px) {
        bottom: 100%;
        left: 0;
        width: 100vw;
        animation: 1.2s ease forwards contentToBottom;
    }
    // @media (max-width: 1325px) {
    //     bottom: 100%;
    //     left: 0;
    // }
 
    //  @media (max-width: 1325px) {
    //      left: 0;
    //         bottom: 100%;
    //         width: 100%;
    //     }

    // &--active {
    //     left: 0;

       
    // }

    // @media (max-width: 1325px) {
    //     bottom: 0 !important;
    // }

    &__logo  img {
        width: 50%;
        cursor: pointer;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Raleway', Arial, sans-serif;
        font-size: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: 1450px) {
            font-size: 1.6rem;
        }
        @media (max-width: 1325px) {
            font-size: 1.3rem;
        }

        &__item {
            position: relative;
            width: 90%;

            &:hover {                
                &::before, &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    left: 0%;
                    height: 3px;
                    background-color: #c57b39;
                    animation: borderHover .4s ease-in-out;
                }
                &::after {left: initial; right: 0;}
            }
            
        &__content {
            display: inline-block;
            width: 100%;
            color: #a8a8a8;
            text-decoration: none;
            padding: 9.6px 0;
            transition: .2s ease-out;

            &:hover {
                color: #464646;
            }

            @media (max-width: 1325px) {
                padding: 5px 0;
            }
            &--selected {
                color: #464646;
                &::before, &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 100%;
                    top: 0;
                    height: 3px;
                    background-color: #c57b39;
                    transition: .2s ease-out;
                }
                &::after{top: 100% !important;}
            }
        }
    }
}

    &__burger {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
    }
}

@keyframes borderHover { from { width: 0%;} to{width: 100%;} }

