.about {
    &__title {
        @extend %title;

    }
    &__desc {
        font-size: 1.1rem;
        margin-left: 100px;

        @media (max-width: 650px) {
            margin-left: 43px;
        }
    }
    &__journey {
        width: 80%;
        margin: 30px auto 0;
        opacity: 0;
        transform: translateX(10%);
        animation: 0.7s ease-out forwards 0.25s contentToLeft;

        @media (max-width: 720px) {
            width: 95%;
        }

        h2 {
            font-size: 1.7rem;
            text-align: center;
            margin: 22px 0;
        }
        &__content {
            margin: 0 auto;
            width: 85%;
            h3 {
                margin: 21px 0;

                @media (max-width: 700px) {
                    font-size: 1.1rem;
                }
            }
            p {
                font-size: 1.05rem;
                margin: 18px 0;
            }
        }
    }
}
