.projects {
    &__desc {
        font-size: 1.1rem;
    }
    &__cards {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 960px) {
            justify-content: center;
        }
    }
}
