.technologies {
    &__title {
        @extend %title;

    }
    &__desc {
        font-size: 1.1rem;
        margin-left: 100px;

        @media (max-width: 650px) {
            margin-left: 43px;
        }
    }
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 35px auto;

        &::before, &::after {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            width: 0;
            height: 0;
            background: transparent;
            border: 2px solid transparent;
            animation: animateBorder 1s linear forwards;
        }

        &::after {
            animation: animateBorder2 1s linear forwards;
            animation-delay: 1s;
        }
       
       
        @media (max-width: 980px) {
            flex-direction: column;
            align-items: center;
        }
        &__technos {
            width: 100%;
            padding: 25px;
            margin: 0 auto;
            text-align: center;

            .technos {
                
                &__list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 20px;
                    margin-top: 40px;

                    @media (max-width: 620px) {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .techno {
                        &__item {
                            text-align: center;

                            i {
                                font-size: 3.5rem;
                            }
                            img {
                                width: 55px;
                                height: 55px;
                            }
                            p {
                                margin-top: 15px;

                                @media (max-width: 980px) {
                                    font-size: .85rem;
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }        
}


