.technologies {

    &__desc {
        font-size: 1.1rem;
       
      }
    &__title {
        display: inline-block;
        position: relative;
        font-weight: 200;
        animation:  .5s ease titleToRight;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 0%;
            height: 2px;
            right: 0;
            bottom: -10px;
            opacity: 0;
            background-color: var(--color-orange-50);
            animation:  .4s ease-out .35s forwards appearSeparator;
          }
    }
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 30px auto ;
        // margin: 0 auto;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: -2px;
        //     // left: -2px;

        //     width: 2px;
        //     height: 2px;
        //     background: #fff;
        //     // border: 2px solid transparent;
        //     -webkit-animation: animate 1s linear forwards;
        //     animation: animate 1s linear forwards;
            
        // }

        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            // bottom: 0;
            // right: 100%;

            width: 2px;
            height: 2px;
            background: #fff;
            // border: 2px solid transparent;
            -webkit-animation: animate 1s linear forwards;
            animation: animate 1s linear forwards;
            
        }

       
        @media (max-width: 980px) {
            flex-direction: column;
            align-items: center;
        }
        &__technos {
            width: 48%;
            margin-top: 40px;
            text-align: center;

            .technos {

                &__list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 20px;
                    margin-top: 40px;

                    @media (max-width: 620px) {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .techno {
                        &__item {
                            text-align: center;

                            i {
                                font-size: 3.5rem;
                            }
                            img {
                                width: 55px;
                                height: 55px;
                            }
                            p {
                                margin-top: 15px;

                                @media (max-width: 980px) {
                                    font-size: .85rem;
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }        
}


