@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&family=Raleway:wght@300;400;500&display=swap');

:root {
  overflow-x: hidden;
  height: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: outside none none;
}

body, #root {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}


a:visited {
    background-color: none;
    color: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--color-white-00);
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-orange-50);
    border-radius: 10px;
  }








