:root {
   
    --color-white-00: #ffffff; //text

    --color-blue-80: #041327; // background

    --color-orange-50: #c57b39; // underline title

    --comment-background: #f0f2f5;

    --overlay-alpha-80: rgb(244 244 244 / 0.8);

    --color-divider: #ced0d4;
    --color-hover: 0, 0, 0;
    --color-hover-opacity: 0.06;
}

